* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }
  
  .nav {
    background-image: url(/images/Header-llustration-desktop@2x.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  .list {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 13px;
    padding-inline-start: 0;
  }
  
  .list .listitems {
    list-style: none;
    margin-right: 8px;
  }
  
  .headline {
    width: 70vw;
    height: 60vh;
    margin: auto;
    padding-top: 50px;
  }
  
  .primary {
    justify-content: center;
    align-items: center;
  }
  
  .primary .primaryblack {
    text-align: center;
    font-weight: bold;
  }
  
  .primary .primarygreen {
    text-align: center;
    font-weight: bold;
    color: green;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .supportingtext .para {
    text-align: center;
    justify-content: center;
    margin-block-start: 0;
    margin-block-end: 0;
  }
  
  .socialmedia {
    justify-content: center;
    text-align: center;
    margin-top: 25px;
  }
  
  .ul-socialmedia {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
  }
  
  .socialists {
    list-style: none;
    margin-left: 5px;
    justify-content: center;
    align-items: center;
  }
  
  .action {
    justify-content: center;
    text-align: center;
    margin-top: 60px;
  }  